{% load static %}
{% load i18n %}
<style>

.yeban button {
    background-color: #5e72e4; /* Tugma foni */
    color: #fff; /* Matn rangi */
    border: none; /* Chegarasiz */
    padding: 12px 30px; /* Yengil to'ldirish */
    font-size: 16px; /* Matn o'lchami */
    border-radius: 5px; /* Yumshatilgan burchaklar */
    cursor: pointer; /* Ko'rsatgichni qo'yish */
    transition: all 0.3s ease; /* Animatsiya */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soqmoq effekti */
    text-transform: uppercase; /* Matnni kattalashtirish */
    letter-spacing: 1px; /* Harflar orasidagi masofa */
}

.yeban button:hover {
    background-color: #4e62d5; /* Hover holatidagi tugma rangi */
    transform: translateY(-2px); /* Tugma ko'tariladi */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Ko'proq so'qlar */
}

.yeban button:focus {
    outline: none; /* Fokus holatida konturni olib tashlash */
    box-shadow: 0 0 0 2px #5e72e4; /* Fokus holatida ko'k kontur */
}

</style>
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans "Contact" %}</h2>
    <p>{% trans "Contact me" %}</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">

      <div class="col-lg-5">
        <div class="info-wrap">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>{% trans "Address" %}</h3>
              <p>{% trans "Uzbekistan,Kokand" %}</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>{% trans "Call Us" %}</h3>
              <p>+998 77 099 15 04</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>{% trans "Email Us" %}</h3>
              <p>komilovabdugofur635@gmail.com</p>
            </div>
          </div><!-- End Info Item -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47974.80447475813!2d70.9443057!3d40.5297225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb83379b1f426b%3A0xb60e94712a161019!2z0JDQo9CeIC0g0JDQu9C80LjQs9C40YLRgdC60LjQuSDQntGB0LzQstC10Lkg0J3QsNCz0LDRgA!5e0!3m2!1sen!2s!4v1715082202539!5m2!1sen!2s" 
            frameborder="0" 
            style="border:0; width: 100%; height: 270px;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

      <div class="col-lg-7">
        <form action="{% url 'home' %}" method="POST" class="yeban" data-aos="fade-up" data-aos-delay="200">
           {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
              <label for="name-field" class="pb-2">{% trans "Your Name" %}</label>
              <input type="text" name="name" id="name-field" class="form-control" required="">
            </div>

            <div class="col-md-6">
              <label for="email-field" class="pb-2">{% trans "Your Email" %}</label>
              <input type="email" class="form-control" name="email" id="email-field" required="">
            </div>

            <div class="col-md-12">
              <label for="subject-field" class="pb-2">{% trans "Subject" %}</label>
              <input type="text" class="form-control" name="subject" id="subject-field" required="">
            </div>

            <div class="col-md-12">
              <label for="subject-field" class="pb-2">{% trans "Tel" %}</label>
              <input type="phone" class="form-control" name="phone" id="phone-field" required="">
            </div>

            <div class="col-md-12">
              <label for="message-field" class="pb-2">{% trans "Message" %}</label>
              <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
         
           
              

              <button type="submit">{% trans "Send Message" %}</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>
  </div>
</section>
