{% load static %}
{% load i18n %}

<section id="portfolio" class="portfolio section light-background">

  <!-- Bo‘lim sarlavhasi -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans "Portfolio" %}</h2>
    <p>{% trans "This section provides a brief description of the projects I have developed." %}</p>
  </div>

  <div class="container">
    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

      <!-- Filtrlar -->
      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">{% trans "All" %}</li>
        <li data-filter=".filter-app">{% trans "Django" %}</li>
        <li data-filter=".filter-product">{% trans "Django REST API" %}</li>
        <li data-filter=".filter-branding">{% trans "Telegram bot" %}</li>
      </ul>

      <!-- Loyihalar ro‘yxati -->
      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

        <!-- Loyiha 1 -->
         {% for port in portfolios %}
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ port.category }}">
          <div class="portfolio-content h-100">
            <img src="{{ port.image.url }}" class="img-fluid" alt="{{ port.name }}">
            <div class="portfolio-info">
              <h4>{{ port.name }}</h4>
              <p>{{ port.description }}</p>
              <a href="{{ port.image.url }}" title="{{ port.name }}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
               {% if port.project_url %}
              <a href="{{ port.project_url }}" title="{% trans 'More' %}" class="details-link"><i class="bi bi-link-45deg"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</section>
