{% load static %}
{% load i18n %}

<section id="resume" class="resume section">

  <!-- Bo‘lim sarlavhasi -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans "Resume" %}</h2>
    <p>{% trans "Bu yerda mening ta'limim va ish tajribam haqida qisqacha ma'lumotlar keltirilgan." %}</p>
  </div>

  <div class="container">
    <div class="row">

      <!-- Chap ustun: Summary va Education -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">{% trans "Summary" %}</h3>
        <div class="resume-item pb-0">
          <h4>Komilov Abdugofur</h4>
          <p><em>{% trans "Experienced and innovative backend developer with experience in working with Django and REST APIs, microservices architecture, and building backend systems for data analytics." %}</em></p>
          <ul>
            <li>Tashkent,Fergana,Kokand </li>
            <li>+998 77 099 15 04</li>
            <li>komilovabdugofur635@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">{% trans "Education" %}</h3>
        <div class="resume-item">
          <h4>{% trans "Kokand: Vali-teach" %}</h4>
          <h5>2021 - 2022</h5>
          <p><em>{% trans "Full Stack " %}</em></p>
         
        </div>
        <div class="resume-item">
            <h4>{% trans "Tashkent: Najot Ta'lim" %}</h4>
            <h5>2024 - 2025</h5>
            <p><em>{% trans "Backend Python Django" %}</em></p>

          </div>
          <div class="resume-item">
            <h4>{% trans "Tashkent: Mohir dev" %}</h4>
            <h5>2024 - 2025</h5>
            <p><em>{% trans "Cybersecurity: Pentesting (Online continues)" %}</em></p>

          </div>
      </div>

      <!-- O‘ng ustun: Professional tajriba -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <h3 class="resume-title">{% trans "Professional Experience" %}</h3>
        <div class="resume-item">
          <h4>{% trans "Backend Developer" %}</h4>
          <h5>2025 - Hozirgi vaqtgacha</h5>
          <ul>
            <li>{% trans "Django RESTful APIs were developed and built with integration in mind." %}</li>
            <li>{% trans "A data model working with PostgreSQL was designed and optimized." %}</li>
            <li>{% trans "Integration with the frontend team via API was provided." %}</li>
            <li>{% trans "JWT authentication, OTP login, and permissions based on user roles have been implemented." %}</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{% trans "Junior Python Developer" %}</h4>
          <h5>2023 - 2025</h5>
          <p><em>{% trans "Freelance / Individual Projects" %}</em></p>
          <ul>
            <li>{% trans "Telegram bots (aiograms) and automated scripts were created." %}</li>
            <li>{% trans "Small projects working with SQL, SQLite3 and MySQL were done." %}</li>
            <li>{% trans "Independent projects were developed based on Python 3.12.3." %}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</section>
